<mat-toolbar class="barra">
  @if (telaEstreita()) {
    <button
      matIconButton
      type="button"
      aria-label="Abrir ou fechar o menu"
      [attr.aria-expanded]="menuLateral.opened"
      (click)="menuLateral.toggle()"
    >
      <mat-icon aria-hidden="true">menu</mat-icon>
    </button>
  }
  <a class="marca" routerLink="/">AgendaPro</a>
</mat-toolbar>

<mat-sidenav-container class="corpo">
  <mat-sidenav
    #menuLateral
    class="menu"
    [mode]="telaEstreita() ? 'over' : 'side'"
    [opened]="!telaEstreita()"
  >
    <mat-nav-list aria-label="Menu principal">
      @for (item of menu; track item.rota) {
        <a
          mat-list-item
          [routerLink]="item.rota"
          routerLinkActive
          #link="routerLinkActive"
          [activated]="link.isActive"
          (click)="fecharSeGaveta(menuLateral)"
        >
          <mat-icon matListItemIcon aria-hidden="true">{{ item.icone }}</mat-icon>
          <span matListItemTitle>{{ item.rotulo }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="pagina">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
